<section class="admin-dashboard">

  <header class="page-header">
    <h1>Admin Dashboard</h1>
  </header>

  <div class="dashboard-summary jumbotron">
    <h4>Store Statistics</h4>
    <p>
      <%= link_to "Products: #{@product_count}", admin_products_path, class: 'btn btn-info' %>
    </p>
    <p>
      <%= link_to "Categories: #{@category_count}", admin_categories_path, class: 'btn btn-info' %>
    </p>
  </div>

</section>
